//////////////////////////////////////////////////
//// LOGO
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}


//////////////////////////////////////////////////
//// SEARCH
.search {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__input {
        font-family: inherit;
        font-size: inherit;
        color:inherit;
        background-color: var(--color-grey-light-2);
        border:none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width:90%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
            // padding: 0.8rem 2rem;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
            // color:red;
    
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
        // transform: scale(1.2);
    } 

  

    &__button {
        border:none;
        background-color: var(--color-grey-light-2);

        &:focus{
           outline: none;
        //    background-color:red;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill:var(--color-grey-dark-3);
       
    }
}



//////////////////////////////////////////////////
//// USER-NAV

.user-nav {

    align-self: stretch;
    // background-color: yellowgreen;
    display: flex;
    align-items: center;


    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }
    // & > *:hover > svg{
    //     background-color: var(--color-grey-light-2);
    // }
    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
      
      
       
    }

  

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        // border-radius: 100px; //high number can make circle too
        background-color: var(--color-primary);
        color:#fff;
        position: absolute;
        top:1.5rem;
        right: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
    &__icon-box:first-child > &__notification {
        right: 1.4rem;
    }


    &__user-photo {
        margin-right: 1rem;
        height: 3.75rem;
        border-radius: 50%;
    }

}